<script src='/javascripts/jquery-2.2.1.min.js'></script>
<script src="/javascripts/bootstrap.min.js'"> </script>

<footer class="navbar-fixed-bottom">
    Designed by Katie Kramer
</footer>
</body>
</html>