<%- include partials/header.ejs %>
<h1> <%=title %></h1>


<div>
    <img src="images/me.png" alt="Image of Katie Kramer" class="col-sm-4">

    <p class="col-sm-4">Tech nerd with experience in business, art, and computer science. Currently finishing her last semester of the  Interactive web design and development. Skills include HTML5, CSS, MySQL, Adobe Suite. Familiar with PHP, jQuery, ASP.NET, C#, Javascript, and the MEAN Stack. Constantly learning, discovering and designing. </p>
</div>

<%-include partials/footer.ejs %>