<%- include partials/header.ejs %>
<h1> <%=title %></h1>

<p>Here's some of my complete works:</p>
    <a href="keus.ca">
        <img src="images/keus.png" alt="Screen shot of keus.ca homepage" class="col-sm-3">
    </a>
<%-include partials/footer.ejs %>