<%- include partials/header.ejs %>
<h1> <%=title %></h1>

<div class="centered">

    <H2>Services include quick wit with bad puns! </H2>

    <h2>Websites with sass! (and not the language)</h2>

    <h6>A promise to add more content to this page when I'm not on a deadline!</h6>
</div>


<%-include partials/footer.ejs %>